# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ===== #
# Wwise #
# ===== #
Assets/Wwise_Authoring/Originals/SFX/*.akd
Assets/Wwise_Authoring/.cache


# === #
# IDE #
# === #
.idea/
.vs/
.vscode
